<div ng-keypress="onKeyPress($event)" class="dialog--div-height100">
    <div class="modal-header">
        <h3 class="modal-title">{{msg.title}}</h3>
    </div>

    <div class="modal-body">

        <!--<div class="row">-->
            <!--{{DOW}}-->
        <!--</div>-->

        <div class="row">
          <div class="form-element">
            {{startDOW}}
            start: <uib-timepicker id="start" ng-model="startTime" minute-step="1"
                                   show-meridian="false" show-spinners="true"
                                   style="display: inline-block;"></uib-timepicker>
            {{endDOW}}
            end: <uib-timepicker id="end" ng-model="endTime" minute-step="1"
                                 show-meridian="false"  show-spinners="true"
                                 style="display: inline-block;"></uib-timepicker>

          </div>

        </div>

    </div>


    <div class="modal-footer">
        <div class="left"></div>
        <div class="right flex1">
            <button class="button" type="button" ng-click="ok()" data-i18n="common.ok">OK</button>
            <button class="button" type="button" ng-click="cancel()" data-i18n="common.cancel">Cancel</button>
            <button class="button" type="button" ng-click="delete()" data-i18n="common.delete">Delete</button>
        </div>
    </div>
</div>
